<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>colors</title>
    <!--<link rel="stylesheet" href="/views/style.css" type="text/css">-->
    <style>
    /*body{*/
    /*    background-color:#c4c4c4;*/
    /*}*/
        
    .container{
        margin: 0 auto;
        width: 800px;
        height: 100%;
        background-color: #fff;
    }
    .upload{
        background-color: #fff;
        width: 790px;
        height: 60px;
        border-radius: 10px;
        border: solid 5px #eee;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .thumbnail{
        background-color: #fff;
        width: 750px;
        height: 600px;
        margin-top: 10px;
        border-radius: 5px;
        padding-top: 20px;
        padding-left: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    .a{
        float: left;
    }
    .btn{
        width: 200px;
        height: 30px;
        border-radius: 5px;
    }
    .image-box{
        width: 200px;
        height: 200px;
        margin-left:30px;
    }
    .image{
        width: 200px;
        height: 180px;
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="upload">    
            <form action="/new" method="post" enctype="multipart/form-data">
                <p class="a"><input type="file" name="file" class="btn"></p>
                <p class="a"><input type="submit" value="アップロード" class="btn"></p>
            </form>
        </div>
        <div class="thumbnail">
            <% @contents.each do |content| %>
                <div class="image-box">
                    <div class="image">
                <% unless content.img_url.empty? %>
                    <a href="/<%= content.id %>/pick" class="a"><img src="<%= content.img_url %>" width="200"></a>
                <% end %>
                    </div>
                <span>
                    <form action="/delete/<%= content.id %>" method="post">
                        <input type="submit" value="削除" class="btn">
                    </form>
                </span>
                </div>
            <% end %>
        </div>
    </div>
</body>
</html>