<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>colorpicker</title>
    <style>
    body{
        background-color: #fff;
        background-image: url("/back.jpg");
        background-repeat: repeat-x;
    }
        
    .container{
        margin: 0 auto;
        width: 1000px;
    }
    .canvas{
        background-color: #fff;
        border: solid 2px #ccc;
        text-align:center;
    }
    .colorcode{
        border: solid 2px #ccc;
        text-align: center;
        height: 83px;
        margin-top: 25px;
        padding-top:17px;
        padding-left:50px;
    }
    .log{
        background-color: #fff;
        border: solid 2px #ccc;
        margin-top: 25px;
        margin-bottom: 70px;
        display: flex;
        flex-wrap: wrap;
        padding-left:10px;
    }
    .hex{
        width: 230px;
        height: 50px;
        border: solid 1px #ccc;
        margin-left:10px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        font-size:18px;
    }
    .result{
        background-color: #fff;
        height:50px;
        width: 230px;
        padding-top:15px;
        font-size:24px;
    }
    .leftbox{
        width: 100px;
        height: 50px;
        margin-right:10px;
    }
    .rightbox{
        width: 110px;
        height: 30px;
        padding-top:10px;
    }
    </style>
</head>
<body>
    <div class="container">
        <img src="/logo.png">
        <div class="canvas">
            <canvas id="cnvs" width="936" height="585"></canvas>
        </div>
        <div class="colorcode" id="colorcode">
            <div id="result" class="result"></div>
        </div>
        <div class="log">
            <% @logs.each do |log| %>
                <div class="hex"><div class="leftbox" style="background-color:<%= log.log %>"></div><div class="rightbox"><%= log.log %></div></div>
            <% end %>
        </div>
    </div>
    <script type="text/javascript">
                
    var canvas = document.getElementById('cnvs');
    var context = canvas.getContext('2d');
    var w = canvas.width;
    var h = canvas.height;
    var x = 0;
    var y = 0;
                
    var image = new Image();
                
    image.src = "<%= @pick.img_url %>";
                
    context.drawImage(image, 0, 0);　//(0,0)から取得した画像を表示
    
    var color = document.getElementById('color');
    function onClick(e) {
        var rect = e.target.getBoundingClientRect();
        x = e.clientX - rect.left;
        y = e.clientY - rect.top;
        var pixel = context.getImageData(x, y, 1, 1);
        var data = pixel.data;
        console.log(pixel.data); // 出力：CanvasPixelArray
        
        numberInt = pixel.data;    //クリックされた要素の背景色取得

        hexString = "#"+parseInt(numberInt[0]).toString(16)+parseInt(numberInt[1]).toString(16)+parseInt(numberInt[2]).toString(16);　//16進数に変換して連結

        hexString= hexString.toUpperCase();    // hexStringを大文字に変換

        resulut = document.getElementById("result");
        resulut.innerText = hexString;
        document.getElementById("colorcode").style.backgroundColor= hexString;    //背景に色を表示
        
        
        var xhr= new XMLHttpRequest();    
        var param = "colorcode=" + encodeURIComponent(hexString);
        console.log("param", hexString, param);
        xhr.open("POST","/logs?"+param);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send();
        
        // location.reload();
    }
    canvas.addEventListener('click', onClick, false);
        
    </script>
</body>
</html>