<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>colors</title>
</head>
<body>
    <canvas id="cnvs" width="1500" height="500"></canvas>
   
    <div id="result"></div>
    
    <h2>検索履歴</h2>
        <table>
        <% @logs.each do |log| %>
            <tr>
                <td><%= log.log %></td>
            </tr>
        <% end %>
    </table>


    <script type="text/javascript">
                
    var canvas = document.getElementById('cnvs');
    var context = canvas.getContext('2d');
    var w = canvas.width;
    var h = canvas.height;
    var x = 0;
    var y = 0;
                
    var image = new Image();
                
    image.src = "<%= @pick.img_url %>";
                
    context.drawImage(image, 0, 0);
    
    var color = document.getElementById('color');
    function onClick(e) {
        var rect = e.target.getBoundingClientRect();
        x = e.clientX - rect.left;
        y = e.clientY - rect.top;
        var pixel = context.getImageData(x, y, 1, 1);
        var data = pixel.data;
        console.log(pixel.data); // 出力：CanvasPixelArray
        
        numberInt = pixel.data;    //クリックされた要素の背景色取得

        hexString = "#"+parseInt(numberInt[0]).toString(16)+parseInt(numberInt[1]).toString(16)+parseInt(numberInt[2]).toString(16);

        hexString= hexString.toUpperCase();    // hexStringを大文字に変換

        resulut = document.getElementById("result");
        resulut.innerText = hexString;
        
        var xhr= new XMLHttpRequest();
        var param = "colorcode=" + encodeURIComponent(hexString);
        console.log("param", hexString, param);
        xhr.open("POST","/logs?"+param);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send();
        
        location.reload();
    }
    canvas.addEventListener('click', onClick, false);
        
    </script>
</body>
</html>